/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  min-width: 960px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn_success {
  color: #fff;
  background: linear-gradient(to top, #82b440, #8bc342);
  border-top: 1px solid #7aaa3a;
  border-radius: 6px;
}
.btn_success:active {
  background: linear-gradient(to bottom, #82b440, #8bc342);
}
.btn_danger {
  color: #fff;
  background: linear-gradient(to top, #c3594e, #ef6355);
  border-top: 1px solid #d0564a;
  border-radius: 6px;
}
.btn_danger:active {
  background: linear-gradient(to bottom, #c3594e, #ef6355);
}
.btn_size_s {
  padding: 6px 10px;
  font-size: 13px;
}
.btn_size_m {
  padding: 8px 10px;
  font-size: 13px;
}
.form-input,
.form-select {
  padding: 8px 15px;
  line-height: 1.3;
  background: #f6f6f6;
  font-size: 12px;
  border: none;
  outline: none;
  border-top: 1px solid #dbdbdb;
  border-radius: 6px;
}
.form-input::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #767676;
}
.form-input:-moz-placeholder,
.form-select:-moz-placeholder {
  color: #767676;
}
.form-input::-moz-placeholder,
.form-select::-moz-placeholder {
  color: #767676;
}
.form-input:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #767676;
}
.form-input.placeholder,
.form-select.placeholder {
  color: #767676;
}
.heading_section {
  margin: 0 0 15px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.link {
  display: inline-block;
  color: #2877ba;
  border-bottom: 1px solid rgba(40,119,186,0.7);
}
.link:hover {
  border: none;
}
.b-benefits {
  padding: 40px 0;
  border-bottom: 4px #ce5b50 solid;
}
.b-benefits__item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.b-benefits__item + .b-benefits__item {
  padding-left: 25px;
}
.b-benefits__item__heading {
  margin: 35px 0 15px;
  font-size: 14px;
}
.b-benefits__item__text {
  font-size: 12px;
  color: #767676;
  line-height: 1.3;
}
.b-benefits__item__image {
  float: left;
  margin-right: 8px;
}
.b-catalog__top {
  padding: 30px 0;
  background: #7a7a7a;
  color: #fff;
}
.b-catalog__top .container {
  padding: 0 28px;
}
.b-catalog__heading {
  display: inline-block;
  font-size: 38px;
  text-transform: uppercase;
}
.b-catalog__filter {
  margin: 12px 0 0;
  background: #f2f2f2;
  box-shadow: 1px 0 1px 1px rgba(0,0,0,0.1) inset;
  float: right;
  font-size: 13px;
  text-align: center;
  border-radius: 6px;
}
.b-catalog__filter:before,
.b-catalog__filter:after {
  content: " ";
  display: table;
}
.b-catalog__filter:after {
  clear: both;
}
.b-catalog__filter__item {
  float: left;
  padding: 5px;
  cursor: pointer;
  min-width: 105px;
  color: #a1a1a1;
}
.b-catalog__filter__item.active {
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(to top, #c3594e, #ef6355);
  position: relative;
}
.b-catalog__filter__item.active:after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #c3594e;
}
.b-catalog__products__item {
  float: left;
  width: 160px;
  padding: 18px 0;
  margin: 0 12px;
}
.b-contacts__phone {
  margin-bottom: 5px;
  font: 27px 'Arial', sans-serif;
}
.b-contacts__phone small {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #767676;
  line-height: 1.7;
}
.b-contacts__call {
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
.b-countdown {
  text-align: center;
  width: 225px;
}
.b-countdown__heading {
  margin-bottom: 12px;
  font-size: 14px;
  color: #565656;
}
.b-countdown .countdown-section {
  display: inline-block;
  vertical-align: top;
}
.b-countdown .countdown-section + .countdown-section {
  margin-left: 30px;
}
.b-countdown .countdown-amount {
  font-size: 39px;
  line-height: 1;
}
.b-countdown .countdown-period {
  display: block;
  font-size: 12px;
  font-weight: 600;
}
.b-footer__logo {
  margin-right: 20px;
}
.b-footer__contacts {
  float: right;
  text-align: right;
}
.b-footer__slogan,
.b-footer__menu,
.b-footer__logo {
  display: inline-block;
  vertical-align: top;
}
.b-footer__slogan {
  margin: 6px 80px 0 0;
}
.b-footer__contacts {
  float: right;
  text-align: right;
}
.b-footer__menu {
  width: 390px;
}
.b-header {
  height: 100px;
}
.b-header:before,
.b-header:after {
  content: " ";
  display: table;
}
.b-header:after {
  clear: both;
}
.b-header .container {
  padding: 18px 0 0 126px;
  position: relative;
}
.b-header__logo {
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 999;
}
.b-header__slogan,
.b-header__menu {
  display: inline-block;
  vertical-align: top;
}
.b-header__slogan {
  margin: 6px 70px 0 0;
}
.b-header__contacts {
  float: right;
  text-align: right;
}
.b-header__menu {
  width: 390px;
}
.b-menu {
  font-size: 13px;
}
.b-menu__item {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin: 0 5px;
  padding: 5px;
}
.b-menu__item_order {
  padding: 0 5px;
}
.b-order-form__heading {
  text-align: center;
  margin-bottom: 16px;
}
.b-order-form__phone,
.b-order-form__article {
  width: 130px;
}
.b-order-form__name {
  width: 190px;
}
.b-order-form .form-input,
.b-order-form .form-select {
  margin-right: 4px;
}
.b-order-form .btn {
  padding-right: 15px;
  padding-left: 15px;
}
.b-product-preview__article {
  margin: 0 0 14px;
  padding: 8px 0;
  background: #f2f2f2;
  text-align: center;
  font-size: 13px;
  color: rgba(0,0,0,0.6);
}
.b-product-preview__image {
  margin: 0 auto;
  display: block;
}
.b-product-preview__price {
  float: left;
  line-height: 1.4;
  font-size: 22px;
}
.b-product-preview__buy {
  float: right;
}
.b-product-slider {
  background: url("../img/b-product-slider.jpg") no-repeat center center;
  background-size: cover;
}
.b-product-slider:before,
.b-product-slider:after {
  content: " ";
  display: table;
}
.b-product-slider:after {
  clear: both;
}
.b-product-slider__item {
  background: url("../img/b-product-slider__item.png") no-repeat center center;
  height: 450px;
}
.b-product-slider__desc {
  padding: 100px 0 0;
  color: #c4c4c4;
  font-size: 13px;
}
.b-product-slider__desc__heading {
  margin: 0 0 30px;
  color: #fff;
  text-align: left;
}
.b-product-slider__desc__text {
  margin: 0 0 20px;
  line-height: 1.5;
}
.b-product-slider__params__item {
  display: inline-block;
  vertical-align: middle;
}
.b-product-slider__params__item strong {
  color: #fff;
  font-weight: 600;
}
.b-product-slider__params__item + .b-product-slider__params__item {
  margin-left: 20px;
}
.b-product-slider__image {
  float: right;
}
.b-promo {
  padding: 25px 0;
}
.b-promo__wrapper {
  padding: 20px 10px;
  background: linear-gradient(to bottom, #fff 0%, #fff 85%, #f6f6f6 100%);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  border-radius: 6px;
}
.b-promo__form {
  display: inline-block;
}
.b-promo__countdown {
  float: right;
  text-align: center;
}
.b-reviews {
  padding: 25px 0 0;
}
.b-reviews__heading {
  margin-bottom: 35px;
}
.b-reviews__person {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin-right: 55px;
}
.b-reviews__person:nth-child(5n) {
  margin-right: 0;
}
.b-reviews__person__image {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.b-reviews__person__name {
  margin-bottom: 10px;
  font-size: 14px;
}
.b-reviews__person__text {
  font-size: 12px;
  color: #6d6d6d;
  line-height: 1.4;
}
.b-slogan {
  font: 12px 'Arial', sans-serif;
  color: #767676;
}
.b-slogan__image {
  margin-bottom: 8px;
}
.b-steps {
  padding: 10px 0;
}
.b-steps__heading {
  margin-bottom: 35px;
}
.b-steps__item {
  margin: 0 0 25px;
}
.b-steps__item_left {
  width: 650px;
  float: left;
}
.b-steps__item_left .b-steps__item__image {
  float: left;
  margin-right: 15px;
}
.b-steps__item_right {
  float: right;
  width: 250px;
}
.b-steps__item_right .b-steps__item__image {
  display: block;
  margin: 0 auto 8px;
}
.b-steps__item__desc {
  overflow: hidden;
}
.b-steps__item__heading {
  margin: 0 0 16px;
  font-size: 22px;
}
.b-steps__item__text {
  margin: 0 0 16px;
  font-size: 13px;
  line-height: 1.4;
  color: #767676;
}
